<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @attendence.user_id %>
</p>

<p>
  <strong>Time in:</strong>
  <%= @attendence.time_in %>
</p>

<p>
  <strong>Time out:</strong>
  <%= @attendence.time_out %>
</p>

<%= link_to 'Edit', edit_attendence_path(@attendence) %> |
<%= link_to 'Back', attendences_path %>
